# Dependencies
node_modules/
package-lock.json

# Local Databases & Data Directories
data/
*.db
*.db-journal

# Environment variables
.env

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# System Files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
